In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
df = pd.read_csv(r'C:\Users\LENOVO\OneDrive\Desktop\spam.csv', encoding='latin-1')

In [13]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [14]:
df.rename(columns={'v1': 'target', 'v2': 'text'}, inplace=True)

In [15]:
df.head()

,target,text,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   target      5572 non-null   object
 1   text        5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [17]:

df['target'].value_counts()

target
ham     4825
spam     747
Name: count, dtype: int64

In [18]:
df.drop(columns=['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], inplace=True)

In [19]:
df.head()

  target                                               text
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [20]:
import nltk
from nltk.corpus import stopwords
nltk.download('punkt')
from nltk.stem import PorterStemmer
import re

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\LENOVO\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [21]:
stemmer = PorterStemmer()

In [22]:
X = df['text']

Y = df['target']

In [25]:
corpus = []
for i in range(len(X)):
    review = re.sub(r'[^\w\s]', ' ', X[i])  # Removes non-word characters
    review = re.sub(r'http\S+', ' ', review)  # Removes URLs
    review = review.lower()  # Converts to lowercase
    review = review.split()  # Tokenizes text
    review = [stemmer.stem(word) for word in review if word not in stop_words]  # Removes stopwords and stems words
    review = ' '.join(review)  # Joins the cleaned tokens
    corpus.append(review)

In [26]:
X = np.array(corpus)

In [31]:
X

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 46972 stored elements and shape (5572, 7213)>

In [32]:
Y

0        ham
1        ham
2       spam
3        ham
4        ham
        ...
5567    spam
5568     ham
5569     ham
5570     ham
5571     ham
Name: target, Length: 5572, dtype: object

In [35]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Example: Apply TfidfVectorizer
tfidf = TfidfVectorizer(
    max_features=5000,
    stop_words='english',
    ngram_range=(1, 2)
)
X_transformed = tfidf.fit_transform(corpus)

# Output details
print(X_transformed.shape)  # Rows: documents, Columns: features
print(tfidf.get_feature_names_out()[:10])  # First 10 feature names

(5572, 5000)
['00' '00 sub' '000' '000 bonu' '000 cash' '000 homeown' '000 prize'
 '000 xma' '02' '02 06']

In [36]:
## Train Test Split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,Y,test_size=0.2,random_state=0)

In [37]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, classification_report

In [38]:
models = {
    "Logistic Regression":LogisticRegression(),
    "Naive Bayes":MultinomialNB(),
    "Random Forest":RandomForestClassifier(),
    "KNN":KNeighborsClassifier(),
    
}

params={
    "Logistic Regression":{},
    "Naive Bayes":{},
    "Random Forest":{},
    "KNN":{},
    
}